.details {
    padding: 1.5em;
    background-color: #000000;
    border-radius: .5em;
    box-shadow: 0em .5em .5em teal;
    color: #ffffff;
}
.details input {
    text-align: center;
    color: white;
    background-color: transparent;
    margin: 0em 1.5em 0em 0em;
}
h2 {
    text-align: center;
}
button {
    margin: .2em 0em 0em 0em;
}
button:hover {
    color: lightgreen;
    background-color: transparent;
}
.delete:hover {
    color: red;
}
table {
    margin:auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid white;
    min-width: 333px;
}
th, td {
    border-bottom: 1px solid white;
    padding: 1em;
    border-right: 1px solid white;
}
tr {
    max-width: max-content;
}
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
tr:hover {
    background-color: grey;
}
a.deleteSkill{
    font-size: 1em;
    padding: .2em .5em .2em .5em;
    margin-top: 0em;
    background-color: transparent;
    border: 1px solid red;
    color: red;
    font-weight: bolder;
    border-radius: 1em;
}
.deleteSkill:hover {
    color: white;
    border: 1px solid white;
    background-color: red;
    text-decoration: none;
}
a.addSkill {
    font-size: 1em;
    margin-top: 0em;
    padding: .25em .5em .25em .5em;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 1em;
    color: green;
}
.addSkill:hover{
    color: white;
    border: 1px solid white;
    background-color: green;
    text-decoration: none;
}