.details {
    margin: auto;
    padding: 1.5em;
    background-color: #000000;
    border-radius: .5em;
    box-shadow: 0em .5em .5em teal;
    color: #ffffff;
    max-width: 75%;
}
.details input {
    text-align: center;
    color: white;
    background-color: transparent;
    margin: 0em 1.5em 0em 0em;
}
h2 {
    text-align: center;
}
button {
    margin: .2em 0em 0em 0em;
}
button:hover {
    color: lightgreen;
    background-color: transparent;
}
.delete:hover {
    color: red;
}
table {
    margin:auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid white;
}
th, td {
    border-bottom: 1px solid white;
    padding: .5em;
}
a {
    text-decoration: none;
    color: white;
}
tr:hover {
    background-color: grey;
}