<div *ngIf="user" class="details">
    <h2>{{ user.username | uppercase }} Details</h2>
    <div>
        <span>Id: </span>{{ user.id }}
    </div>
    <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
        <label>
            UserName:
            <input type="text" formControlName="username" placeholder="{{user.username}}">
        </label><br>
        <label>
            Department:
            <input type="text" formControlName="dept" placeholder="{{user.dept}}">
        </label><br>
        <button type="submit">Update User</button>
    </form>
    <button (click)="goBack()">go back</button>
    <button routerLink="/delete/{{ user.id }}" class="delete">Delete</button>
    <h2>Skills <a class="addSkill" (click)="showAddSkill()">+</a></h2>
    <table>
        <tr *ngIf="addNewSkill">
            <td colspan="3"><form [formGroup]="newSkillForm" (ngSubmit)="addSkill()">
                <input type="hidden" formControlName="id">
                <input formControlName="skill" placeholder="skill desc"><button type="submit">Add!</button>
            </form></td>
        </tr>
        <th colspan="3">Id : Name</th>
        <tr *ngFor="let skills of allSkills">
            <td><a routerLink="./skill/{{skills.id}}">{{skills.id}}</a></td>
            <td><a routerLink="./skill/{{skills.id}}">{{skills.skill}}</a></td>
            <td><a type="button" class="deleteSkill" (click)="deleteSkill(skills)">-</a></td>
        </tr>
    </table>
</div>
