.details {
    margin: auto;
    padding: 1.5em;
    background-color: #000000;
    border-radius: .5em;
    box-shadow: 0em .5em .5em teal;
    color: #ffffff;
    max-width: 75%;
}
.details input {
    text-align: center;
    color: white;
    background-color: transparent;
    margin: 0em 1.5em 0em 0em;
}
h2 {
    text-align: center;
}
button:hover {
    color: lightgreen;
}
.delete:hover {
    color: red;
}