<div class="alert alert-danger" [hidden]="!error">
    There was a problem loggin in. Please try again
</div>
<div>
    {{ title }}
    <table *ngIf="greeting">
        <th>Id : Message</th>
        <tr>
            <td>{{ greeting.id }}</td>
            <td>{{ greeting.content }}</td>
            <td>Data</td>
        </tr>
    </table>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label>Username:
            <input type="text" placeholder="username" formControlName="username">
        </label>
        <label>Password:
            <input type="password" placeholder="password" formControlName="password">
        </label>
        <button type="submit">Login</button>
    </form>
</div>
