.skilldetails {
    background-color: indigo;
    color: white;
    padding: 1.5em;
    box-shadow: 0em .5em .5em greenyellow;
    border-radius: .5em;;
}
table {
    border-collapse: collapse;
    border: 1px solid white;
}
td, th {
    padding: 1em;
    border-bottom: 1px solid white;
    border-right: 1px dashed white;
}
button {
    margin-top: .5em;
    color: indigo;
}
button.back:hover {
    background-color: transparent;
    color: yellowgreen;
}
a {
    text-decoration: none;
    color: white;
}
tr:hover {
    background-color: yellowgreen;
}
tr:hover a {
    color: black;
}
form {
    max-width: 50%;
    text-align: center;
}
input {
    text-align: center;
    max-width: 75%;
}
h2, h3, form, table {
    text-align: center;
    margin: .5em auto;
}
.update:hover {
    background-color: gold;
}
.add:hover, .delete:hover {
    color: white;
}
.add:hover {
    background-color: green;
}
.delete:hover {
    background-color: red;
}
a:hover {
    text-decoration: underline;
}